Screen {
  border: round $primary;
  align: center middle;
  layout: grid;
  grid-size: 2 2;
}

Container {
  border: round $primary;
}

.start {
  text-align: center;
  width: 100%;
  border: round $primary;
}

.itemInput {
  border: round $primary;
  width: 50%;
}
